.signals-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .timer {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .recording-light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-left: 10px; /* Espaciado entre el contador y la luz */
  }
  
  .recording-light.active {
    animation: blink 0.5s infinite alternate;
  }
  
  .record-button {
    margin-top: 10px; /* Espaciado entre la luz y el botón */
  }
  
  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.1;
    }
  }
  